* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #272c18;
  font-family: 'Cardo', serif;
  font-weight: 300;
  background-color: #7b7766;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  text-decoration: underline;
  text-transform: lowercase;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url('../assets/images/hero-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  padding: 20px 35px;
  /* background-color: #7b7766; */
}

header h1 {
  font-size: 35;
  margin: 0;
  color: #272c18;
  text-decoration: underline;
}

header h1 a {
  text-decoration: none;
  color: #272c18;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

header h1 a:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fdf5e6;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-decoration: none;
  color: #fdf5e6;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  
}

header nav ul li a:hover {
  color:#272c18;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);

}

.hero {
  background-image: url('../assets/images/hero-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

/* about me styling */
.about-me {
  display:flex;
  justify-content: space-between;
  flex: wrap;
  align-items: center;
  color: #272c18;
  background-color: #fdf5e6;
  padding: 50px 50px;
}

.about-me h2 {
  flex: 0 0 20%;
  text-align: center;
}

.about-me img {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 60px 80px 60px 30px;
  max-width: 1200px;
  border:rgba(0, 0, 0, 0.7);
  
}

.about-me p {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 60px;
  width: 100%;
}

/* work section styling */
.work {
  display: flex; 
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: #fdf5e6;
  background-color: #272c18;
  padding: 50px 50px 50px 0;
}

.work h2 {
  flex: 0 0 20%;
  align-self: center;
  text-align: center;
}

.work h3 {
  color: #272c18;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.work h3:hover {
  color: #fdf5e6;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(2 , 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(200px , 1fr);
  column-gap: 10px;
  row-gap: 10px;
  flex: 0 0 77%;
}

.grid-item {
  display: flex;
  align-items: flex-end;
  grid-column: span 4;
  background-size: 100%;
  background-color: #fdf5e6;
  min-height: 15vw;
  padding: 10px 10px;
  opacity: .7;
}

.run-buddy {
  background-image: url(./images/run-buddy-screenshot.png);
  background-position: absolute;
}

.horiseon {
  background-image: url(./images/horiseon-screenshot.png);
}

.pw-gen {
  background-image: url(./images/pw-gen.png);
}

.grid-item:first-child {
  grid-column: span 8;
  grid-row: span 2;
  background-attachment: local;
}

.grid-item:hover {
  opacity: 1;
}

/* contact me styling */
.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 50px;
  padding: 50px;
}

.contact-me ul {
  list-style: none;
}

.contact-me a {
  text-decoration: none;
  color: #272c18;
}

/* media queries */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 18px;
    margin: 0 10px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me img {
    max-width: 600px;
    margin: 20px;
  }

  .work {
    flex-direction: column;
    padding: 50px;
  }

  .work h2 {
    padding-bottom: 20px;
  }

  .grid-container {
    width: 100%;
  }

  .grid-container h3 {
    font-size: 2vw;
  }

  .contact-me {
    padding: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    max-height: 30vw;
  }

  .about-me div {
    overflow: hidden;
  }

  .about-me img {
    margin: 20px 0 0 0;
    align-items: center;
    justify-content: center;
  }

  .about-me p {
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    max-height: 0vw;
  }

  
}
